* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--color-bg: #F1F1F1;
  --switch-icon: url(./assets/sun.svg)
}

.dark {
  --color-bg: #292C35;
  --switch-icon: url(./assets/moon.svg)
}

body {
  background: var(--color-bg);
}

img {
  width: 94px;
  height: 94px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  width: 235px;
  height: 102px;
  border-radius: 59px;
  background: #000 var(--switch-icon) no-repeat right;
  padding: 8px 12px;
}

.botao {
  width: 86px;
  height: 86px;
  background: #F1F1F1;
  border-radius: 50%;
}