@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  display: flex;
  background: var(--body-bg-color);
  height: 100vh;
}

main {
  padding: 18px;
}

.coluna-lateral.expandir {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: yellow;
}

.coluna-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 78px;
  height: 100%;
  background: var(--green);
  overflow: hidden;
  border: 1px solid red;
  transition: .5s;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 14px 0px;
  gap: 34px;
  border: 1px solid red;
}

#icon-search {
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;
  color: var(--text-color);
  background: var(--light-green);
  border-radius: 12px;
  padding: 13px;
}

#icon-logout {
  background: var(--light-green);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna-lateral.expandir #icon-logout {
  
}



