* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --bg-cards-hover: #3e3b4e;
  --staricon-url: var(./assets/star.svg);
}

body {
  background: var(--body-bg-color);
  height: 100vh;
  margin: 40px
}

aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 348px;
}

main{
  width: 100%;
  max-width: 952px;
}

.up {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.container {
  display:flex;
  gap: 60px;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: var(--bg-cards);
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
}

.top p{
  font-size: 14px;
  color: var(--text-color);
}

.top:hover {
  background: var(--bg-cards-hover);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background:var(--bg-cards);
  border-radius: 10px;
  padding: 32px 49px 49px;
}

.profile img{ 
  margin: auto;
  width: 100%;
  max-width: 128px;
  border-radius: 50%;
  border: 2px solid #00FF00;
}

.profile a {
  padding-top: 30px;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 23px;
}

.profile p {
  padding-top: 10px;
  font-size: 13px;
  color: var(--text-color);
}

.projects {
  display: flex;
  gap: 30px;
}

.project1 {
  color: var(--text-color);
  background: var(--bg-cards);
  width: 100%;
  max-width: 461px;
  padding: 30px;
  border-radius: 10px;
}

.one {
  display: flex;
  align-items: center;
  gap: 16px;
}

.two {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 8px;
}

.two-1{
  display: flex;
  gap: 8px;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project1 p {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 14px;
}

.project1 img {
  width: 100%;
  max-width: 20px;
}

.mid {
  background: var(--bg-cards);
  padding: 30px;
  font-size: 20px;
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
}

.mid:hover {
  background: var(--bg-cards-hover);
}

.down {
  background: var(--bg-cards);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  color: var(--text-color);
}

.down img {
  width: 100%;
  max-width: 128px;
  border-radius: 50%;
}

.uno {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uno h3{
  font-size: 18px;
}

.uno p {
  font-size: 14px;
}

.duo {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.duo-1{
  display: flex;
  gap: 10px;
}

.teste {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.links {
  color: var(--text-color);
  background: var(--bg-cards);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 348px;
  padding: 30px 40px;
  gap: 20px;
  border-radius: 10px;
}

.map {
  display: flex;
  align-items: center;
  gap: 20px;
}

.folder {
  display: flex;
  align-items: center;
  gap: 20px;
}

.github {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkedin {
  display: flex;
  align-items: center;
  gap: 20px;
}

.twitter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.globe {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.technologies {
  background: var(--bg-cards);
  color: var(--text-color);
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.technologies h2 {
  padding-bottom: 20px;
}

/*
.technologies table {
  background: var(--bg-techs);
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}
*/

.line1{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.line1 span {
  background: var(--bg-techs);
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 7px;
  width: 100%;
  max-width: 86px;
  text-align: center;
}

.line2{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.line2 span {
  background: var(--bg-techs);
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 7px;
  width: 100%;
  max-width: 86px;
  text-align: center;
}

.line3{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.line3 span {
  background: var(--bg-techs);
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 7px;
  width: 100%;
  max-width: 86px;
  text-align: center;
}

.experiences {
  background: var(--bg-cards);
  color: var(--text-color);
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experiences ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
}

.education {
  background: var(--bg-cards);
  color: var(--text-color);
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.education ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
}

footer {
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
}

@media (min-width: 700px) {
  body {
    background-color: var(--body-bg-color);
  }
}