* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 82px;
  border: 1px solid tomato;
}

.container-info {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  text-align: center;
}

.container-days {
  border: 1px solid tomato;
}
.container-hours {
  border: 1px solid tomato;
}

.container-minutes {
  border: 1px solid tomato;
}

.container-minutes {
  border: 1px solid tomato;
}

.register {
  padding: 10px;
  background: var(--purple);
  color: white;
  border-radius: 10px;
  border: none;
}