*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

body {
  background: var(--body-bg-color);
}

img {
width: auto;
max-width: 1175px;
height: 100vh;
float: right;
}

.container {
  padding: 50px 30px;
  display: flex;
  position: absolute;
  background: var(--body-bg-color);
  width: 50%;
  height: 100vh;
}

.logo img {
  width: auto;
  max-width: 389px;
  max-height: auto;
  height: 94px;
}