*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

body {
  background: var(--body-bg-color);
  font-family: 'League Spartan', sans-serif;
}

img {
width: auto;
max-width: 1175px;
height: 100vh;
float: right;
}

.container {
  padding: 50px 36px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--body-bg-color);
  width: 50%;
  height: 100vh;
  gap: 92px;
}

.logo img {
  width: auto;
  max-width: 389px;
  height: 94px;
  max-height: auto;
  float: left;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 8.56px;
}

.informations h2 {
  font-size: 24px;
  color: var(--title-color);
}

.informations span {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.informations p {
  color: var(--text-color);
  line-height: 19px;
}

.email {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 800px;
}

.inside-email {
  display: block;
  color: var(--form-color);
  font-weight: 700;
  padding-bottom: 17px;
}

.form {
  display: flex;
  align-items: center;
}

.tirinha{
  background: var(--title-color);
  width: auto;
  min-width: 5px;
  height: auto;
  min-height: 48px;
  position: absolute;
}

.form-box input{
  width: auto;
  min-width: 750px;
  height: auto;
  min-height: 48px;
  position: relative;
  left: 5px;
  border: none;
}

.retangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 48px;
  height: auto;
  min-height: 48px;
  background: var(--bg-button-color);
}

.retangle img {
  width: auto;
  max-width: 24px;
  height: auto;
  max-height: 24px;
}

.read {
  display: flex;
  align-items: center;
  color: var(--bg-button-color);
  gap: 5px;
  text-decoration: none;
}


.read img {
  width: auto;
  max-width: 24px;
  height: auto;
  max-height: 24px;
}

@media (min-width: 700px) {
  body {
    background: var(--body-bg-color);
  }
}